nodered-example/flows.json
[
    {
        "id": "23a53482bc601fd0",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f9346d1a1adcb931",
        "type": "mqtt in",
        "z": "23a53482bc601fd0",
        "name": "BME680",
        "topic": "location/measurement/bme680",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fe29ebb7d71ca924",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 520,
        "wires": [
            [
                "1e4f5098006eae69",
                "44b633954cb72146",
                "fcc13bea1c080b57",
                "27871e3391745dfb",
                "9cb0f79f643b9d7a",
                "21ac7cedc1602368"
            ]
        ],
        "outputLabels": [
            "bme680"
        ]
    },
    {
        "id": "1e4f5098006eae69",
        "type": "ui_gauge",
        "z": "23a53482bc601fd0",
        "name": "",
        "group": "4846a208c35cf77d",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "{{payload.TemperatureUnit}}",
        "format": "{{payload.Temperature}}",
        "min": "10",
        "max": "35",
        "colors": [
            "#0000ff",
            "#00ff00",
            "#ca3838"
        ],
        "seg1": "20",
        "seg2": "30",
        "diff": false,
        "className": "",
        "x": 770,
        "y": 600,
        "wires": []
    },
    {
        "id": "44b633954cb72146",
        "type": "ui_gauge",
        "z": "23a53482bc601fd0",
        "name": "",
        "group": "8fa7b64c8749545c",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%rh",
        "format": "{{payload.Humidity}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ca3737",
            "#008000",
            "#004080"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 780,
        "y": 560,
        "wires": []
    },
    {
        "id": "fcc13bea1c080b57",
        "type": "ui_gauge",
        "z": "23a53482bc601fd0",
        "name": "",
        "group": "bb216fe2022ef74b",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Pressure",
        "label": "{{payload.PressureUnit}}",
        "format": "{{payload.Pressure}}",
        "min": "600",
        "max": "1200",
        "colors": [
            "#800000",
            "#008000",
            "#800000"
        ],
        "seg1": "900",
        "seg2": "1100",
        "diff": false,
        "className": "",
        "x": 780,
        "y": 640,
        "wires": []
    },
    {
        "id": "47695f46c08dd77a",
        "type": "ui_chart",
        "z": "23a53482bc601fd0",
        "name": "",
        "group": "4846a208c35cf77d",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "15",
        "ymax": "35",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 770,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "27871e3391745dfb",
        "type": "function",
        "z": "23a53482bc601fd0",
        "name": "extract-Temp",
        "func": "msg.payload = msg.payload.Temperature\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 440,
        "wires": [
            [
                "47695f46c08dd77a"
            ]
        ]
    },
    {
        "id": "ada6336c167948a5",
        "type": "ui_chart",
        "z": "23a53482bc601fd0",
        "name": "",
        "group": "bb216fe2022ef74b",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "900",
        "ymax": "1000",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 770,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "9cb0f79f643b9d7a",
        "type": "function",
        "z": "23a53482bc601fd0",
        "name": "extract-Pressure",
        "func": "msg.payload = msg.payload.Pressure\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 480,
        "wires": [
            [
                "ada6336c167948a5"
            ]
        ]
    },
    {
        "id": "21ac7cedc1602368",
        "type": "function",
        "z": "23a53482bc601fd0",
        "name": "extract-Humi",
        "func": "msg.payload = msg.payload.Humidity\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 400,
        "wires": [
            [
                "e6b108dddbf32e2a"
            ]
        ]
    },
    {
        "id": "e6b108dddbf32e2a",
        "type": "ui_chart",
        "z": "23a53482bc601fd0",
        "name": "",
        "group": "8fa7b64c8749545c",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "20",
        "ymax": "80",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 770,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "fe29ebb7d71ca924",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "4846a208c35cf77d",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "25a6d83518360e4c",
        "order": 2,
        "disp": false,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8fa7b64c8749545c",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "25a6d83518360e4c",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bb216fe2022ef74b",
        "type": "ui_group",
        "name": "Pressure",
        "tab": "25a6d83518360e4c",
        "order": 3,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "25a6d83518360e4c",
        "type": "ui_tab",
        "name": "Sauna",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]